{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- mitäs himskattia tää button-tsydeemi tekee? poistaminen ei tunnu vaikuttavan mihinkään-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="etusivu">Etusivu</a>
    </div>

    {% if user_logged_in %}
      <div class="collapse navbar-collapse" id ="navigation">
        <ul class="nav navbar-nav navbar-right">
          <!--navigaation linkit tänne-->
          <li><a>Käyttäjä {{user_logged_in.name}} kirjautuneena</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
          <li><a href="http://sakureme.users.cs.helsinki.fi/tsoha/{{user_logged_in.id}}/changePassword">Vaihda salasana</a></li>
        </ul>
      </div>
      <form class="navbar-form navbar-right" method="post" action="logout">
        <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
      </form>
      {% else %}
      <div class="collapse navbar-collapse" id ="navigation">
        <ul class="nav navbar-nav navbar-right">
          <!--navigaation linkit tänne-->
          <li><a href="login">Kirjaavupa tästä sissään</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
          <li><a href="register">rekisteröidy</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
{% if user_logged_in%}
<p>
   <a href="kategoria/lisaa" class="btn btn-success">Lisää resepti</a>
</p>
{% endif %}
<h2>{{category.name}}</h2>
<ul>

  {% for recipe in recipes %}

      <li><a href="resepti/{{recipe.id}}">{{recipe.name }}</li>

  {% endfor %}

</ul>



{% endblock %}
