{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- mitäs himskattia tää button-tsydeemi tekee? poistaminen ei tunnu vaikuttavan mihinkään-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/tsoha/etusivu">Etusivu</a>
      <a class ="navbar-brand" href="http://sakureme.users.cs.helsinki.fi/tsoha/1">Ruoka</a>
      <a class ="navbar-brand" href="http://sakureme.users.cs.helsinki.fi/tsoha/2">Juoma</a>
    </div>

    {% if user_logged_in %}
      <div class="collapse navbar-collapse" id ="navigation">
        <ul class="nav navbar-nav navbar-right">
          <!--navigaation linkit tänne-->
          <li><a>Käyttäjä {{user_logged_in.name}} kirjautuneena</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-center">
          <li><a href="http://sakureme.users.cs.helsinki.fi/tsoha/{{user_logged_in.id}}/changePassword">Vaihda salasana</a></li>
        </ul>
      </div>
      <form class="navbar-form navbar-right" method="post" action="logout">
        <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
      </form>
      {% else %}
      <div class="collapse navbar-collapse" id ="navigation">
        <ul class="nav navbar-nav navbar-right">
          <!--navigaation linkit tänne-->
          <li><a href="login">Kirjaavupa tästä sissään</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
  {% if user_logged_in%}
  <h1>Muokkoopa tässä reseptiä</h1>

  {% if errors %}
      <div class="alert alert-danger">
        <ul>
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
{% for recipe in recipes %}
  <form method="post" action="/tsoha/resepti/{{recipe.id}}/muok">

    <div class="form-group">
      <label>Reseptin nimi</label>
      <input type="text" name="name" class="form-control" value="{{recipe.name}}">
    </div>


    <div class="checkbox">
      <label>
        <input type="hidden" name="category_id" value="9999">
        Oletuskategoria on ruoka
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name ="category_id" value="1">
        Ruoka
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name ="category_id" value="2">
        Juoma
      </label>
    </div>
    <div class="form-group">
      <label>Ohje</label>
      <textarea name="info" class="form-control">{{recipe.info}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endfor %}
  {% endif %}
{% endblock %}
