{% extends "base.html" %}
{% block content %}
  <h1>Mykyrokka</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Käyttäjä:</strong>savolaenen</li>
    <li><strong>Lisäyspäivä:</strong> 1.1.2017</li>
    <li><strong>Raaka-aineet:</strong>raaka-aineet tähän</li>
  </ul>

  <!-- Kuvaus tulee tähän -->
  <p>
    Jahtaa hirvi kiinni ja pistä lihoiks. Pilko, kuori ja keitä perunat. Soppaan lihat ja maksa pilkottuna.
     Tee verestä mykyt ja heitä soppaan. Anna valmistua ja naati!
  </p>
{% endblock %}
